/* Base style */
* {
  box-sizing: border-box;
}

body {
  background-color:#FFFEFA;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  font-family: Garamond ,serif;
  color: forestgreen;
}

section {
  position: relative;
  padding: 15px;
  width: 90%;
}

.row {
  width: 90%;
}

p {
  position: relative;
  clear: right;
}

div {
    position: relative;
    background-color: gray;
    border: 3px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.box1 {
  float: right;
  width: 100px;
  padding: 5px;
  margin: -3px -3px 0px;
  border: 3px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #ff6347;
}

.box2 {
  float: right;
  color: white;
  width: 100px;
  padding: 5px;
  margin: -3px -3px 0px;
  border: 3px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: blueviolet;
}

.box3 {
  color: black;
  float: right;
  width: 100px;
  padding: 5px;
  margin: -3px -3px 0px;
  border: 3px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: yellow;
}

.content {
  padding: 5px;
  border: none;
  background-color: gray;
  font-family: Georgia , sans-serif;
  color: black;
  margin: 3px ;
  height: 150px;
  overflow: auto;
}


/*Desktop view*/
@media (min-width: 992px) {
  .col-d-4 {
    float: left;
    width: 33.33%;
  }
}
/*Tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-t-6 {
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-t-12 {
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*Phone view*/
@media (max-width: 767px) {
  .col-p-12 {
    float: left;
    width: 100%;
  }
}