*{
	margin: 0;
	padding: 0;

}
.navbar{

border: none;
background-color: black;
color: #C3B1E1;
}
body{
	background-color: #C3B1E1;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#C3B1E1; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #C3B1E1;
}
.navbar-brand{
font-size: 30px;	
}